{% extends "base.html" %}
{% include "components/navbar.html" %}
{% block content %}
<h1>About</h1>
<p>ClassMon is a research project in natural language processing and artificial intelligence/machine learning that aims to provide discussion analytics and answers to questions in online university computer science class forums.</p>
<p>Written by <a href="http://ntresham.com">Nathan Tresham</a>, <a href="">Lilu Martin</a>, and <a href="https://qhao.info">Dr. Qiang Hao</a> of <a href="https://wwu.edu">Western Washington University</a>, <a href="https://cse.wwu.edu">College of Science and Engineering</a>, <a href="https://cs.wwu.edu">Department of Computer Science</a>, 2020.</p>
{% endblock %}